@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-pilar-green: #00553B;
  --color-pilar-orange: #B54828;
  --color-pilar-default-bg-dark: #282825;
  --color-pilar-default-bg-light: #E3E3E3;
  --color-pilar-default-bg2-dark: #33332F;
}